.Header{
    padding: 2em 0;
}

.Header > .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header .container .logo{
    width: 3em;
    height: 3em;
    background-image: url('/profileImg/logo.jpg');
    background-size: cover;
    border-radius: 100%;
}

.Header .container nav{
    display: flex;
    align-items: center;
    gap: 1em;
}

.Header .container nav a{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.Header .container nav a:hover{
    margin-top: -4px;
    color: var(--corPrincipal);
}